{% extends "admin_base.html" %}

{% block content_admin %}
<form method="post" name="add_role_info" class="ui form" style="margin-bottom: 300px">
    <table class="ui celled table">
        <tr align="center"><td colspan="2" align="center" width="100%"><h2>添 加 角 色</h2></td></tr>
        <tr align="center">
            <td width="20%" class="head_text">
                角色名
            </td>
            <td>
               <input name="role_name" id='role_name' class="ui large input" width="100%"
                      placeholder="请输入角色名">
            </td>
        </tr>
        <tr align="center">
            <td width="20%" class="head_text">
                角色描述
            </td>
            <td>
               <input name="desc" id='desc' class="ui input" placeholder="请输入角色描述">
            </td>
        </tr>
        <tr align="center">
            <td width="20%" class="head_text">
                角色用户
            </td>
            <td>
                <div style="text-align: left">
                {% for worker_id in worker_ids %}
                    <div style="display: inline-block;width: 60px;word-break:break-all">
                        <input type="checkbox" name='worker_id_selected[]' value={{worker_id}} class="ui checkbox" width="100px">
                        {{worker_id}}
                    </div>
                {% end %}
                </div>
            </td>
        </tr>
        <tr>
            <td width="20%" class="head_text" >
                <div align="center">可访问路径</div>
            </td>
            <td>
                {% for key in urls %}
                <div class="dropdown">
                    <div class="collection">
                        {{key}}
                    </div>
                    {% if key=='基本' %}
                    <div class="dropdown-content">
                    {% for url in urls[key] %}
                        <input type="checkbox" name='url_selected[]' id={{url}} value={{url}} checked="checked" class="ui checkbox" />{{url}}<br>
                    {% end %}
                    </div>
                    {% else %}
                    <div class="dropdown-content">
                    {% for url in urls[key] %}
                        <input type="checkbox" name='url_selected[]' id={{url}} value={{url}} class="ui checkbox" />{{url}}<br>
                    {% end %}
                    </div>
                    {% end %}
                </div>
                {% end %}
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <input type="submit" class="ui green large button" value="提交" />
            </td>
        </tr>
    </table>

</form>
{% end %}