{% extends "admin_base.html" %}
{% block content_admin %}
<form method="post" name="add_user_info" class="ui form">
    <table class=" ui celled table">
        <tr align="center"><td colspan="2" align="center" width="100%"><h2>添 加 用 户</h2></td></tr>
        <tr align="center">
            <td width="20%" class="head_text negative">
                工号
            </td>
            <td>
               <input name="worker_id" id='worker_id' class="ui large input" width="100%"
                      placeholder="输入用户的工号">
            </td>
        </tr>
        <tr align="center">
            <td width="20%" class="head_text negative">
                初始密码
            </td>
            <td>
               <input name="init_psd" id='init_psd' class="ui input" placeholder="请输入该用户的初始密码">
            </td>
        </tr>
        <tr align="center">
            <td width="20%" class="head_text negative">
                该用户的角色
            </td>
            <td>
                <div align="left">
                {% for role in roles %}
                    <input type="checkbox" name='role_selected[]' value={{role}} class="ui checkbox" width="100px">
                        {{role}}</input>
                {% end %}
                </div>
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <input type="submit" class="ui green large button" value="提交" />
            </td>
        </tr>
    </table>
</form>

{% end %}