{% extends '../base.html' %}
{% block top %}
    <table width="100%">
        <tr>
            <td rowspan="2" width="15%">
                <a href="/"><br><img  src="{{static_url("pictures/chipsort_logo.png")}}" height='64px' weight='232px'>
                    </a>
            </td>
            <td height="50%" align="center">
            <h1 class="head_text" style="font-size: 36px;padding-right: 18%;padding-top:22px;">考 勤 系 统</h1></td>
        </tr>

        <tr>
            <td  align="right">{{worker_id}}，您好，<a href="/logout">点我注销</a></td>
        </tr>
    </table>
{% end %}
<br>