{% extends 'attendance_base.html' %}
{% block content %}
    <table style="width: 100%;padding: 5px">
        <tr>
            <td width="25%">
                <a href="/attendance/workday">
                <div class="indexbox">
                 工作日设定
                </div>
                </a>
            </td>
            <td width="25%">
                <div class="indexbox">
                    <div style="display: inline-block;width: 35%;font-size: 2em;">
                        排班
                    </div>
                    <div style="display: inline-block;width: 60%;">
                        <div style="height: 2em"><a href="/attendance/workarrangement.html">全体排班</a></div>
                        <div style="height: 2em"><a href="/attendance/workarrangement_query.html">排班查询</a></div>
                        <div style="height: 2em"><a href="/attendance/workarrangement_type.html">设定班表</a></div>
                    </div>
                </div>
            </td>
            <td width="25%">
                <div class="indexbox">
                    <div style="display: inline-block;width: 35%;font-size: 2em;">
                        加班
                    </div>
                    <div style="display: inline-block;width: 60%;">
                        <div style="height: 2em"><a href="/attendance/overtime_submit.html">加班提报</a></div>
                        <div style="height: 2em"><a href="/attendance/overtime_audit.html">加班审核</a></div>
                        <div style="height: 2em"><a href="/attendance/overtime_query.html">加班查询</a></div>
                    </div>
                </div>
            </td>
            <td width="25%">
                <div class="indexbox">
                    <div style="display: inline-block;width: 35%;font-size: 2em;">
                        休假
                    </div>
                    <div style="display: inline-block;width: 60%;">
                        <div style="height: 2em"><a href="/attendance/vacation_submit.html">休假提报</a></div>
                        <div style="height: 2em"><a href="/attendance/vacation_audit.html">休假审核</a></div>
                        <div style="height: 2em"><a href="/attendance/vacation_query.html">休假查询</a></div>
                    </div>
                </div>
            </td>
        </tr>

    </table>
{% end %}