{% extends 'attendance_base.html' %}
{% block content %}
    <table style="width: 100%;padding: 5px">
        <tr>
            <td>
                <a href="/attendance/workday">
                <div class="indexbox">
                 工作日设定
                </div>
                </a>
            </td>
            <td>
                <a href="/attendance">
                <div class="indexbox">
                 考勤系统
                </div>
                </a>
            </td>
            <td>
                <a href="/attendance">
                <div class="indexbox">
                 考勤系统
                </div>
                </a>
            </td>
            <td>
                <a href="/attendance">
                <div class="indexbox">
                 考勤系统
                </div>
                </a>
            </td>
        </tr>

    </table>
{% end %}