<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../statics/css/mystyle.css">
    <link rel="stylesheet" href="../../statics/css/semantic.min.css">
    <script src="../../statics/js/vue.js"></script>
    <script src="../../statics/js/jquery.js"></script>
    <!--<script src="../../statics/js/axios.min.js"></script>-->
    <script src = "../../statics/js/main.js"></script>
    <title>排班</title>
</head>
<body onload=navbar()>
<div class="top">
    <table width="100%">
        <tr>
            <td rowspan="2" width="15%">
                <a href="/"><br><img  src="../../statics/pictures/chipsort_logo.png" height='64px' weight='232px'>
                    </a>
            </td>
            <td height="50%" align="center">
            <h1 class="head_text" style="font-size: 36px;padding-right: 18%;padding-top:22px;">考 勤 系 统</h1></td>
        </tr>

        <tr>
            <td align="right"><span id="greeting">{{ worker_id }}</span>，您好，<a href="/logout">点我注销</a></td>
        </tr>
    </table>
</div>
<br>
<div id="navbar" class="navbar">

</div>
<br>
<div class="body">
    <table id="group" style="width: 100%">
        <tr v-for="i in rows">
            <td v-for="j in 7">
                <div v-if='ids[7*(i-1)+j-1]' class="cal_cell">
                    <div class="cal_left_cell">
                        <div style="height:40px;line-height:60px;text-align:center;font-size:20px;font-weight: bold;">
                            {{ids[7*(i-1)+j-1]}}
                        </div>
                        <div style="height:40px;line-height:20px;text-align:center;font-size:12px;font-weight: bold;">
                            {{groupmembers[ids[7*(i-1)+j-1]]}}
                        </div>
                    </div>
                    <div class="cal_right_call">

                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<script src="../../statics/js/workarrangement.js"></script>
</html>